
.container {
    display: flex;
    width: auto;
    height: 70%;
}

.sub_container {
    width: 50%;
}

#right_container {
    background-color: #EDEDED;

}

#right_container img {
    width: 100%;
    height: 100%;
    /* padding-left: 30px; */
}

#left_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#left_container span {
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    /* font-weight: 400; */
    color: #fbc612;
    font-size:100px;
}

#left_container strong:first-child {
    font-size: 3rem;
}

.sub_child_container {
    padding: 0px 120px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}

/* .name {
    font-size: 3.5em;

} */

#animated-text, #animated-name {
    font-size: 3rem;
    color: #607D8B;
    font-family: "Tilt Prism", sans-serif;
    border-right: 2px solid #fbc612; /* Blinking cursor */
    white-space: nowrap;
    overflow: hidden;
    display: flex ;/* To make the element inline */
    flex-direction: column;
    width: 0; /* Initially hidden */
    animation: blink-caret 0.5s step-end infinite, typing 3s steps(30) 1s forwards;
}

/* Keyframe for typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Keyframe for blinking cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fbc612;
    }
}


#left_container p:first-of-type {
    display: flex;
    background-color: #fbc612;

    font-weight: bold;
    padding: 12px;
    width: 280px;
    border-radius: 4px;
    margin-bottom: 18px;
}

                                                                

.sub_container button {
    width: 170px;
    padding: 15px;
    border: 1px solid green;
    border-radius: 40px;
    color:wheat;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fbc612;
    margin-top: 18px;

}
.sub_container a{
text-decoration: none;
color:white;
}
.sub_container button :hover
{
    
    color: black;
    /* background-color: aqua; */
}
