* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc107;
    width: 250px;
    height: 100vh;
}

.sidebar img {
    width:250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
    
}

.sidebar nav ul {
   
    list-style-type: none;
    text-align: center;

}

.sidebar nav ul li{
    margin-bottom:20px;
}

.sidebar nav ul li a {
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2rem;
    
}

.sidebar nav ul  a:hover {
    text-decoration:underline;
    color: rgb(234, 234, 229);
}
.sidebar nav ul li a.active {
    color: white; /* Active link text color */
    text-decoration: underline;
    /* background-color: #000; Background highlight for active link */
    padding: 5px 10px;
    border-radius: 5px;
}

.social-sidebar {
    position: fixed;
    right: 40px;
    top: 170px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 3.7rem;
    height: 48%;
    padding: 25px;
    border-radius: 40px;
    background-color: #fbc612;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    border: .001rem solid rgb(99, 97, 97);
}
.social-sidebar a i
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-sidebar a i:hover{
    color: rgb(234, 234, 229);}




.social-sidebar a {
    /* display:flex; */
    color: black; 
    font-size: 24px;
    /* margin-bottom: 20px; */
    text-decoration: none;
}
.social-sidebar a::before{
    color: #EDEDED;
}