/* Main Content Section */
.container {
    background-color: white;
    display: flex;
    height: 100vh; 
   
}


.main-content 
{
    padding: 20px;
    flex: 1;
}
.heading
 {
    width: 90%;
    border: 2px solid black;
}

.heading h1
 {
    font-family: 'Bungee Inline', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
  
  
}

.button
{
    display: flex;
   
    justify-content: end;
    width: 90%;
}
.download-btn {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 8px 8px;
    background-color: #94791f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.download-btn:hover {
    background-color: #45a049;
}



/* Section Styling */
.section {
    margin-bottom: 10px;
    /* padding: 0 20px;  */
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 30px; /* Adds space between cards */
    justify-items: center; /* Centers cards horizontally */
 
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fbbf24; /* Yellow */
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Card Styling */
.card {
    background-color: #eeeded;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align text to the left */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-7px); /* Slight hover effect */
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.card p {
    font-size: .75rem;
    color: #333;
    line-height: 1.3rem;
}





/* Section Title */

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}